<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/2x/person-male.png"
          type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" crossorigin="anonymous">
    <title>GoTo_people</title>
</head>
<body>

<p style="text-align: center; margin-top: 2%">Registration</p>
<br>
<form action="/login", method="post">
    <div class="field has-addons" style="margin-left: 40%">
  <div class="control">
    <input  class="input" type="text" placeholder="Login" name="login" >
    <input class="input" type="text" placeholder="Password" name="pass" >
    <br><br>
    <button class="button is-link is-outlined is-rounded">Send</button>
  </div>
</div>
</form>
<br>
<form action="/reg", method="get", style="margin-left: 40%">
    <button class="button is-link is-outlined is-rounded">Registration</button>
</form>
</body>
</html>