<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="https://img.icons8.com/cotton/2x/person-male.png"
          type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" crossorigin="anonymous">
    <title>GoTo_people</title>
</head>
<body>
    <p style="text-align:center">Registration</p>
    <br>
<div style="width: 15%; margin-left:42%; text-align: center">
    <form action="/reg", method="post"><p>Login:
        <div class="control">
  <input class="input is-focused" type="text" placeholder="Your login" name="rlogin">
</div>
    </p>
    <p>Password:
        <div class="control">
  <input class="input is-focused" type="text" placeholder="Your password" name="rpass">
</div>
    <br>
    </p><button class="button is-success is-outlined">OK</button>
    </form>
</div>
</body>
</html>